<%= form_for(customer, html: {class: 'form-horizontal'}, :url => {:action => "update_county"}) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <ul class="nav nav-pills" role="tablist">
    <li class="active"><%= link_to 'Add County', customer_add_county_path %></li>
    <li><%= link_to 'List County', customer_customer_county_path %></li>
  </ul>

  <br />

   <div class="field form-group">
    <%= f.label :state_id %>
    <%= f.collection_select :state_id, State.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field form-group">
    <%= f.label :county_id %>
    <%= f.grouped_collection_select :zone_id, State.order(:name), :counties, :name, :id, :name, include_blank: true %>
  </div>


  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <%= f.submit "Save County" %>
    </div>
  </div>
<% end %>
