<%= form_for(customer, html: {class: 'form-horizontal'}, :url => {:action => "deativate_note"}) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <ul class="nav nav-pills" role="tablist">
    <li class="active"><%= link_to 'Deactivate', customer_deactivate_path(@customer)%></li>
    <li><%= link_to 'View Customers', customers_path %></li>
  </ul>

  <br />

   <div class="field form-group">
     <%= f.label 'Deactivate Notes' %>
     <%= f.text_field :deactivate, class: 'form-control' %>
   </div>


  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <%= f.submit "Save Note" %>
    </div>
  </div>
<% end %>
