<p id="notice"><%= notice %></p>

<h1>County</h1>

<ul class="nav nav-pills" role="tablist">
  <li class="active"><%= link_to 'Add County', customer_customer_county_path %></li>
  <li><%= link_to 'View Customer', customers_path %></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <td><font color= blue><%= @customers_name %></font></td>
    <tr>
      <tr><td> &nbsp</td></tr>
    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
      <th style="margin:2px; width:auto;" cellspacing="2">County</th>
      <th style="margin:2px; width:auto;" cellspacing="2">State</th>
      <th style="margin:2px; width:auto;" cellspacing="2">CustomerId</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.county %></td>
        <td><%= customer.state %></td>
        <td><%= customer.customer_id %></td>
        <td><%= link_to 'Delete',  customer_remove_zone_id_path(customer),  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to customer_add_county_path,class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Add County
<% end %>
