<p id="notice"><%= notice %></p>

<h1>Device</h1>

<ul class="nav nav-pills" role="tablist">
  <li class="active"><%= link_to 'Device List', customer_customer_device_path %></li>
  <li><%= link_to 'View Customer', customers_path %></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <td><font color=blue><%= @customers_name %></font></td>
    <tr>
    <tr>
      <th style="margin:2px; width:auto;" cellspacing="2">IP_Address</th>
      <th style="margin:2px; width:auto;" cellspacing="2">ZipCode</th>
      <th style="margin:2px; width:auto;" cellspacing="2">OS</th>
      <th style="margin:2px; width:auto;" cellspacing="2">Model</th>
      <th style="margin:2px; width:auto;" cellspacing="2">Browser</th>
      <th style="margin:2px; width:auto;" cellspacing="2">TimeStamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.ip_address %></td>
        <td><%= customer.zipcode %></td>
        <td><%= customer.os %></td>
        <td><%= customer.model %></td>
        <td><%= customer.browser %></td>
        <td><%= customer.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
