<p id="notice"><%= notice %></p>

<h1>Device</h1>

<ul class="nav nav-pills" role="tablist">
  <li class="active"><%= link_to 'Device List', customer_customer_device_path %></li>
  <li><%= link_to 'View Customer', customers_path %></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <td><font color=blue><%= @customers_name %></font></td>
    <tr>
    <tr>
      <th style="margin:2px; width:auto;" cellspacing="2">Browser</th>
      <th style="margin:2px; width:auto;" cellspacing="2">mobile</th>
      <th style="margin:2px; width:auto;" cellspacing="2">surface</th>
      <th style="margin:2px; width:auto;" cellspacing="2">platform_name</th>
      <th style="margin:2px; width:auto;" cellspacing="2">platform_version</th>
      <th style="margin:2px; width:auto;" cellspacing="2">android</th>
      <th style="margin:2px; width:auto;" cellspacing="2">platform_ios</th>
      <th style="margin:2px; width:auto;" cellspacing="2">TimeStamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.browser %></td>
        <td><%= customer.mobile %></td>
        <td><%= customer.surface %></td>
        <td><%= customer.platform_name %></td>
        <td><%= customer.platform_version %></td>
        <td><%= customer.android %></td>
        <td><%= customer.platform_ios %></td>
        <td><%= customer.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
