<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<ul class="nav nav-pills" role="tablist">
  <li class="active"><%= link_to 'View Customers', customers_path %></li>
  <li><%= link_to 'New Customer', new_customer_path %></li>
  <li><%= link_to 'Track', tracks_path %></li>
  <li><%= link_to 'Saleperson', sales_path %></li>
</ul>

<br />

<!-- <p><font color=red>*</font><i><font color=blue>Fields in red are not clickable</font></i></p> -->

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr class = "<%= cycle('oddrow', 'evenrow') -%>">
        <td>
          <font color=blue><%= customer.first_name  + " " + customer.last_name if customer.payment_color.nil? %></font>
          <font color=blue><%= customer.first_name  + " " + customer.last_name if customer.payment_color == 0 %></font>
          <font color=green><%= customer.first_name  + " " + customer.last_name if customer.payment_color == 1 %></font>
          <font color=#ffbf00><%= customer.first_name  + " " + customer.last_name if customer.payment_color == 2 %></font>
          <font color=red><%= customer.first_name  + " " + customer.last_name if customer.payment_color == 3 %></font>
        </td>
        <td><%= customer.city %></td>
        <td><%= link_to 'Detail', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>

         <% if !customer.validate_cus.nil? %>
          <td><%= link_to 'Payment', payment_retrieve_pay_path(customer) %></td>
          <td><%= link_to 'County', customer_customer_county_path(customer), class: 'css_class', style: 'color:#ffbf00' if customer.county_count.to_i  == 0 %>
              <%= link_to 'County', customer_customer_county_path(customer) if customer.county_count.to_i  == 1 %>
          </td>
         <% else %>
           <td><font color=red>Payment</font></td>
           <td><font color=red>County</font></td>
         <% end %>

         <%  #TODO Needs be refactor - Time permitting %>

        <td><%= link_to 'Log', customer_customer_device_path(customer) %></td>
        <td><%= link_to 'Report', customer_report_status_path(customer), class: 'css_class' %></td>

        <% if !customer.validate_cus.nil? %>
          <!-- Hold Status -->
          <td><%= link_to 'On', customer_deactivate_path(customer),  data: { confirm: 'Are you sure?'} if customer.status_id == 1 %>
          <%= link_to 'Hold', customer_hold_validate_path(customer),  data: { confirm: 'Are you sure? Your name and date will be recorded' } if customer.status_id == 3 %>
          <font color=red><%= 'Demo' if customer.status_id == 2 %></font></td>
        <% else %>
          <td><%= link_to 'Off', customer_validate_path(customer),  data: { confirm: 'Are you sure? Your name and date will be recorded' } if customer.status_id != 3 %>
            <%= link_to 'Hold', customer_hold_validate_path(customer),  data: { confirm: 'Are you sure? Your name and date will be recorded' } if customer.status_id == 3 %></td>
        <% end %>
        <!--<td><#%= link_to 'Delete', delete_customer_path(customer), data: { confirm: 'Are you sure?'} %></td>-->
        <td><%= link_to 'Delete', customer_path(customer), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_customer_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Customer
<% end %>

<br />
<br />

<p><small><font color=red>*</font><i><font color=blue>County field in <font color=red>red</font> are not clickable County field in <font color =#ffbf00>yellow</font> indicates empty field</font></i></small></p>
<p><small><font color=red>*</font><i><font color=blue>Name field in Blue No payments : <font color=green>Green</font> Current : <font color=ffbf00>Yellow</font> : 30 days <font color=red>Red</font> 60 days</font></i></small></p>
