<p id="notice"><%= notice %></p>

<ul class="nav nav-pills" role="tablist">
  <li class="active"><%= link_to 'Report', '' %></li>
</ul>

<br />

<p>
  <strong>Number of Days :</strong>
  <%= @customer[0].to_i %>
</p>

<p>
  <strong>From to Dates :</strong>
  <%= @customer[1] %>
</p>

<p>
  <strong>Average Traffic Computer :</strong>
  <%#= @customer.address %>
</p>

<p>
  <strong>Average Traffic Tablet :</strong>
  <%#= @customer.city %>
</p>


<p>
  <strong>Average Traffic Mobile :</strong>
  <%#= @customer.zip %>
</p>

<p>
  <strong>Cellular Connection :</strong>
  <%#= @customer.cell_number %>
</p>

<p>
  <strong>Average WiFi connection :</strong>
  <%#= @customer.office_number %>
</p>

<p>
  <strong> Total Traffic Counted :</strong>
  <%#= @customer.description %>
</p>

<p>
  <strong>Total sent to zip :</strong>
  <%#= @customer.customer_url %></a>
</p>

<p>
  <strong>Percentage of all traffic sent to zip input :</strong>
  <%#= @customer.boardcertified %>
</p>


<p>
  <strong>Percentage of all traffic sent to zip input & zip entered :</strong>
  <%#= @customer.zone_id %>
</p>



<p>
  <strong>Percentage of all traffic sent to zip & no zip entered :</strong>
  <%#= @salesperson_name %>
</p>

<%= link_to 'Back', customers_path %>
