<p id="notice"><%= notice %></p>

<ul class="nav nav-pills" role="tablist">
  <li class="active"><%= link_to 'Report', '' %></li>
  <li><%= link_to 'View Customer', customers_path %></li>
</ul>

<br />


<p>
  <strong>Traffic Computer :</strong>
  <%= @customer[2] %>
</p>

<p>
  <strong>Traffic Tablet :</strong>
  <%= @customer[4] %>
</p>


<p>
  <strong>Traffic Mobile :</strong>
  <%= @customer[5] %>
</p>

<p>
  <strong>Cellular Connection :</strong>
  <%= @customer[7] %>
</p>

<p>
  <strong>WiFi connection :</strong>
  <%= @customer[6] %>
</p>

<p>
  <strong> Total Traffic Counted :</strong>
  <%= @customer[3] %>
</p>

<p>
  <strong>Total sent to zip :</strong>
   <%= @customer[8] %>
</p>

<!-- <p>
  <strong>Percentage of all traffic sent to zip input :</strong>
  <%#= @customer.boardcertified %>
</p>


<p>
  <strong>Percentage of all traffic sent to zip input & zip entered :</strong>
  <%#= @customer.zone_id %>
</p>



<p>
  <strong>Percentage of all traffic sent to zip & no zip entered :</strong>
  <%#= @salesperson_name %>
</p> -->
<%= link_to 'Back', customers_path %>
