<p id="notice"><%= notice %></p>

<ul class="nav nav-pills" role="tablist">
  <li class="active"><%= link_to 'Report', '' %></li>
  <li><%= link_to 'View Customer', customers_path %></li>
</ul>

<br />

<p>
  <strong>Number of Days :</strong>
  <%= 30 %>
</p>

<p>
  <strong>From Dates :</strong>
  <%= Time.now.to_date - 29.days %>
</p>


<p>
  <strong>Traffic Computer :</strong>
  <%= @customer[3] %>
</p>

<p>
  <strong>Traffic Mobile :</strong>
  <%= @customer[5] %>
</p>

<p>
  <strong>Traffic Tablet :</strong>
  <%= @customer[6] %>
</p>

<p>
  <strong>Traffic sent by zip :</strong>
  <%= @customer[8] %>
</p>

<p>
  <strong>Traffic sent by address :</strong>
  <%= @customer[9] %>
</p>

<p>
  <strong>Traffic total :</strong>
  <%= @customer[7] %>
</p>


<%= link_to 'Back', customers_path %>
