<p id="notice"><%= notice %></p>

<ul class="nav nav-pills" role="tablist">
  <li class="active"><%= link_to 'Detail', '' %></li>
  <li><%= link_to 'Edit Customer', edit_customer_path(@customer) %></li>
  <li><%= link_to 'View Customer', customers_path %></li>
</ul>

<br />

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>


<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Cell number:</strong>
  <%= @customer.cell_number %>
</p>

<p>
  <strong>Office number:</strong>
  <%= @customer.office_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<p>
  <strong>Customer url:</strong>
  <a href= <%= @customer.customer_url %> ><%= @customer.customer_url %></a>
</p>

<p>
  <strong>Boardcertified:</strong>
  <%= @customer.boardcertified %>
</p>


<p>
  <strong>Zone:</strong>
  <%= @customer.zone_id %>
</p>



<p>
  <strong>Salesperson:</strong>
  <%= @salesperson_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @role_name %>
</p>


<p>
  <strong>Deactivate:</strong>
  <%= @customer.deactivate %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
